workflows/ozon-telegram-bot.json
{
  "name": "Ozon Telegram Bot - Orders Analytics (patched, calendar)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        100
      ],
      "id": "n-tt",
      "name": "Telegram Trigger",
      "credentials": {
        "telegramApi": {
          "id": "p4dTUZho7h1VsmzM",
          "name": "Tg Ozon.Orders bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "telegram-bot-token-field",
              "name": "TELEGRAM_BOT_TOKEN",
              "value": "YOUR_TELEGRAM_BOT_TOKEN_HERE",
              "type": "string"
            },
            {
              "id": "superuser-ids-field",
              "name": "SUPERUSER_IDS",
              "value": "user_id_1,user_id_2",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        100
      ],
      "id": "n-cfg",
      "name": "Config"
    },
    {
      "parameters": {
        "jsCode": "// 🔐 Validate config\nconst token=$json.TELEGRAM_BOT_TOKEN; const su=$json.SUPERUSER_IDS;\nif(!token||token==='YOUR_TELEGRAM_BOT_TOKEN_HERE') throw new Error('❌ TELEGRAM_BOT_TOKEN не настроен');\nif(!su||su.trim()===''||su==='user_id_1,user_id_2') throw new Error('❌ SUPERUSER_IDS не настроены');\nreturn { json:$json, binary:$binary };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        100
      ],
      "id": "n-valcfg",
      "name": "Validate Config"
    },
    {
      "parameters": {
        "jsCode": "// Extract user / message / callback\nconst t=$('Telegram Trigger').first().json; const m=t.message; const c=t.callback_query;\nconst userId=m?.from?.id||c?.from?.id; const chatId=m?.chat?.id||c?.message?.chat?.id;\nreturn { json:{...$json, user_id:String(userId), chat_id:String(chatId), message_text:m?.text||'', callback_data:c?.data||'', callback_query_id:c?.id||'', document:m?.document||null}, binary:$binary };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        100
      ],
      "id": "n-extract",
      "name": "Extract User Data"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=ozon:acl:whitelist:{{ $json.user_id }}",
        "propertyName": "value"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        980,
        100
      ],
      "id": "n-redis-wl",
      "name": "Check Whitelist",
      "credentials": {
        "redis": {
          "id": "kaA0Glj8bB5pwqRt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// compute role flags\nconst uid = $('Extract User Data').first().json.user_id;\nconst su = $('Config').first().json.SUPERUSER_IDS || '';\nconst suIds = su.split(',').map(s => s.trim()).filter(Boolean);\nconst isSu = suIds.includes(uid);\n\n// читаем результаты Get из двух нод\nconst wRaw = $('Check Whitelist').first().json.value; // '1' | null\nconst aRaw = $('Check Admin').first().json.value;     // '1' | null\n\nconst isWhitelisted = wRaw === '1';\nconst isAdmin = aRaw === '1' || isSu;\n\nif (!isAdmin && !isWhitelisted && !isSu) {\n  throw new Error('⛔ Access denied');\n}\n\nreturn {\n  json: {\n    ...$('Extract User Data').first().json,\n    is_superuser: isSu,\n    is_admin: isAdmin,\n    is_whitelisted: isWhitelisted\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        100
      ],
      "id": "n-valwl",
      "name": "Validate Whitelist"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ok",
              "leftValue": "={{ $json.is_superuser === true || $json.is_admin === true }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1420,
        100
      ],
      "id": "n-isauth",
      "name": "Is Authorized?"
    },
    {
      "parameters": {
        "chatId": "={{ $('Extract User Data').first().json.chat_id }}",
        "text": "⛔ <b>Доступ запрещен</b>.\n\nОбратитесь к администратору.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1420,
        260
      ],
      "id": "n-unauth",
      "name": "Unauthorized Response",
      "credentials": {
        "telegramApi": {
          "id": "p4dTUZho7h1VsmzM",
          "name": "Tg Ozon.Orders bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=ozon:acl:admins:{{ $json.user_id }}",
        "propertyName": "value"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1640,
        100
      ],
      "id": "n-admin",
      "name": "Check Admin",
      "credentials": {
        "redis": {
          "id": "kaA0Glj8bB5pwqRt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "outputKey": "Start",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Extract User Data').first().json.message_text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "CSV",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Extract User Data').first().json.document?.mime_type }}",
                    "rightValue": "text/csv",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $('Extract User Data').first().json.document?.mime_type }}",
                    "rightValue": "application/vnd.ms-excel",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $('Extract User Data').first().json.document?.file_name }}",
                    "rightValue": ".csv",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "outputKey": "XLSX",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Extract User Data').first().json.document?.mime_type }}",
                    "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $('Extract User Data').first().json.document?.file_name }}",
                    "rightValue": ".xlsx",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "outputKey": "Menu",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Extract User Data').first().json.callback_data }}",
                    "rightValue": "menu:",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "DateSelection",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Extract User Data').first().json.callback_data }}",
                    "rightValue": "date:",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "CalNav",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Extract User Data').first().json.callback_data }}",
                    "rightValue": "cal:",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "DatesDone",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Extract User Data').first().json.callback_data }}",
                    "rightValue": "dates:done",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "DatesReset",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Extract User Data').first().json.callback_data }}",
                    "rightValue": "dates:reset",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "Noop",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Extract User Data').first().json.callback_data }}",
                    "rightValue": "noop",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "CalOpen",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Extract User Data').first().json.callback_data }}",
                    "rightValue": "cal:open",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "FileClear",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Extract User Data').first().json.callback_data }}",
                    "rightValue": "file:clear",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "outputKey": "FileUpload",
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Extract User Data').first().json.callback_data }}",
                    "rightValue": "file:upload",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1860,
        100
      ],
      "id": "n-route",
      "name": "Route Message"
    },
    {
      "parameters": {
        "jsCode": "const chatId = $('Extract User Data').first().json.chat_id;\nconst adminRaw = $('Check Admin').first().json.value;\nconst isAdmin = adminRaw === '1';\n\nconst kb = {\n  inline_keyboard: [\n    [{ text: '📦 Заказы', callback_data: 'menu:orders' }],\n    [{ text: '🎯 Кластеры', callback_data: 'menu:clusters' }]\n  ]\n};\n\nif (isAdmin) {\n  kb.inline_keyboard.push([{ text: '⚙️ Админка', callback_data: 'menu:admin' }]);\n}\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    text: '🤖 <b>Ozon Analytics Bot</b>\\\\n\\\\nВыберите раздел:',\n    reply_markup: kb\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        40
      ],
      "id": "n-genmenu",
      "name": "Generate Main Menu"
    },
    {
      "parameters": {
        "jsCode": "const input=$json; const kb=input.reply_markup?.inline_keyboard||[];\nreturn [{ json:{ chat_id:input.chat_id, text:input.text, parse_mode:'HTML', reply_markup:{inline_keyboard:kb} } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        40
      ],
      "id": "n-prep-menu",
      "name": "Prepare Menu"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Config').first().json.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        40
      ],
      "id": "n-sendmenu",
      "name": "Send Menu"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $('Extract User Data').first().json.callback_data }}",
              "rightValue": "menu:orders",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2080,
        160
      ],
      "id": "n-handlemenu",
      "name": "Handle Menu"
    },
    {
      "parameters": {
        "jsCode": "const input=$json; const kb=input.reply_markup?.inline_keyboard||[];\nreturn [{ json:{ chat_id:input.chat_id, text:input.text, parse_mode:'HTML', reply_markup:{inline_keyboard:kb} } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        160
      ],
      "id": "n-prep-menuresp",
      "name": "Prepare Menu Response"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Config').first().json.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        160
      ],
      "id": "n-send-menuresp",
      "name": "Send Menu Response"
    },
    {
      "parameters": {
        "jsCode": "const d=$('Extract User Data').first().json.document||{}; const name=(d.file_name||'').toLowerCase(); const mime=(d.mime_type||'').toLowerCase();\nconst isCsv= mime==='text/csv'|| mime==='application/vnd.ms-excel'|| name.endsWith('.csv');\nif(!d.file_id||!isCsv) return [];\nreturn [{json:$json}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        240
      ],
      "id": "n-ensure-csv",
      "name": "Ensure CSV Document"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Extract User Data').first().json.document.file_id }}",
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2240,
        240
      ],
      "id": "n-getfile-csv",
      "name": "Get File from Telegram",
      "credentials": {
        "telegramApi": {
          "id": "p4dTUZho7h1VsmzM",
          "name": "Tg Ozon.Orders bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "csv",
        "options": {
          "delimiter": ";",
          "relaxQuotes": true
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2440,
        240
      ],
      "id": "n-extract-csv",
      "name": "Extract from File (CSV)"
    },
    {
      "parameters": {
        "jsCode": "function parseAsMsk(s){ if(!s) return null; let d=s; if(/^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$/.test(d)) d=d.replace(' ','T')+'Z'; const base=new Date(d); if(isNaN(base)) return null; return new Date(base.getTime()+3*3600*1000);} \nconst RE_BOM=/^\\uFEFF/; const RE_NBSP=/\\u00A0/g; const RE_Q=/^\"+|\"+$/g; const RE_S=/\\s+/g;\nconst cleanK=k=>String(k??'').replace(RE_BOM,'').replace(RE_NBSP,' ').replace(RE_Q,'').trim().replace(RE_S,' ');\nconst cleanV=v=>String(v??'').replace(RE_BOM,'').trim();\nconst toNum=v=>{const s=String(v??'').replace(/\\s/g,'').replace(',','.'); const n=Number(s); return Number.isFinite(n)?n:0;};\nconst rows=$input.all().map(i=>i.json.row??i.json).filter(Boolean).map(row=>{const o={}; for(const k of Object.keys(row)){ o[cleanK(k)] = cleanV(row[k]); } return o;});\nconst allKeys=new Set(); rows.slice(0,5).forEach(r=>Object.keys(r).forEach(k=>allKeys.add(k.toLowerCase())));\nconst has=f=>Array.from(allKeys).some(k=>k.includes(f));\nconst reportType = (has('способ отгрузки')||has('перевозчик')||has('название метода')||has('дата отгрузки без просрочки'))&&! (has('юридическое лицо')||has('оценка отгрузки')) ? 'FBS' : 'FBO';\nfunction pick(rec,cands,fb=''){ for(const name of cands){ const ck=cleanK(name); if(rec[ck]!==undefined && String(rec[ck]).trim()!=='') return rec[ck]; }\n const keys=Object.keys(rec); for(const name of cands){ const cl=cleanK(name).toLowerCase(); const f=keys.find(k=>k.toLowerCase()===cl); if(f && String(rec[f]).trim()!=='') return rec[f]; } return fb; }\nconst records=[]; for(const r of rows){ let order_id,sku,quantity,price,created_at,status; if(reportType==='FBO'){ order_id=pick(r,['Номер заказа']); sku=pick(r,['Артикул','OZON id','OZON ID']); quantity=toNum(pick(r,['Количество'],1)); price=toNum(pick(r,['Ваша цена','Сумма отправления'],0)); created_at=pick(r,['Принят в обработку','Дата отгрузки','Фактическая дата передачи в доставку']); status=pick(r,['Статус'],''); } else { order_id=pick(r,['Номер заказа','№ заказа']); sku=pick(r,['Артикул продавца','Артикул','OZON id','OZON ID']); quantity=toNum(pick(r,['Количество','Кол-во'],1)); price=toNum(pick(r,['Ваша цена','Сумма отправления'],0)); created_at=pick(r,['Принят в обработку','Дата отгрузки','Дата отгрузки без просрочки']); status=pick(r,['Статус'],''); }\n if(!order_id||!sku) continue; records.push({order_id:String(order_id), sku:String(sku), quantity, price, created_at:String(created_at), status:String(status).toLowerCase()}); }\nconst setDates=new Set(); for(const rec of records){ const d=parseAsMsk(rec.created_at); if(!d) continue; setDates.add(d.toISOString().split('T')[0]); }\nreturn [{json:{ reportType, records, availableDates:Array.from(setDates).sort(), totalRecords:records.length, chat_id:$('Extract User Data').first().json.chat_id, user_id:$('Extract User Data').first().json.user_id }}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        240
      ],
      "id": "n-parse",
      "name": "Parse Report File"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=ozon:sess:{{ $json.user_id }}:csv",
        "value": "={{ JSON.stringify({ reportType: $json.reportType, records: $json.records, availableDates: $json.availableDates, totalRecords: $json.totalRecords }) }}",
        "options": {
          "ttl": 259200
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2860,
        240
      ],
      "id": "n-cachecsv",
      "name": "Cache CSV Meta",
      "credentials": {
        "redis": {
          "id": "kaA0Glj8bB5pwqRt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let meta={};\ntry{ const raw=$('Fetch CSV Meta (for calendar)').first()?.json.value || $('Cache CSV Meta').first()?.json.value; meta = raw? JSON.parse(raw):{}; }catch(e){ meta={}; }\nconst dates = Array.isArray(meta.availableDates)? meta.availableDates:[];\nif(!dates.length) return [{ json: { month:null } }];\nconst months = Array.from(new Set(dates.map(d=>d.slice(0,7)))).sort();\nconst month = months[months.length-1];\nreturn [{ json: { month, months, minMonth: months[0], maxMonth: months[months.length-1], user_id: $('Extract User Data').first().json.user_id, chat_id: $('Extract User Data').first().json.chat_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3060,
        240
      ],
      "id": "n-calc-month",
      "name": "Calc Initial Month"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=ozon:sess:{{ $('Extract User Data').first().json.user_id }}:csv",
        "propertyName": "value"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3260,
        240
      ],
      "id": "n-fetch-csv",
      "name": "Fetch CSV Meta (for calendar)",
      "credentials": {
        "redis": {
          "id": "kaA0Glj8bB5pwqRt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=ozon:sess:{{ $('Extract User Data').first().json.user_id }}:dates",
        "propertyName": "value"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3260,
        320
      ],
      "id": "n-get-selected",
      "name": "Get Selected Dates",
      "credentials": {
        "redis": {
          "id": "kaA0Glj8bB5pwqRt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// input: callback_data = \"cal:YYYY-MM:prev\" | \"cal:YYYY-MM:next\"\nconst cb = $('Extract User Data').first().json.callback_data || '';\nconst [, ym, dir] = cb.split(':'); // [\"cal\",\"YYYY-MM\",\"prev|next\"]\n\nfunction shiftMonth(ymStr, step) {\n  const [y, m] = ymStr.split('-').map(Number);\n  const d = new Date(Date.UTC(y, (m - 1) + step, 1));\n  return `${d.getUTCFullYear()}-${String(d.getUTCMonth()+1).padStart(2,'0')}`;\n}\n\n// навигация\nconst nextMonth = dir === 'prev' ? shiftMonth(ym, -1)\n                 : dir === 'next' ? shiftMonth(ym,  1)\n                 : ym;\n\n// отдаём дальше месяц и контекст\nreturn [{\n  json: {\n    month: nextMonth,\n    chat_id: $('Extract User Data').first().json.chat_id,\n    user_id: $('Extract User Data').first().json.user_id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        320
      ],
      "id": "n-handle-calnav",
      "name": "Handle Calendar Nav"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=ozon:sess:{{ $('Extract User Data').first().json.user_id }}:dates",
        "propertyName": "value"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2080,
        520
      ],
      "id": "n-get-sel",
      "name": "Get Selected Dates (toggle)",
      "credentials": {
        "redis": {
          "id": "kaA0Glj8bB5pwqRt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dateStr = $('Extract User Data').first().json.callback_data.replace('date:', '');\nconst userId  = $('Extract User Data').first().json.user_id;\nlet available = [];\ntry {\n  const raw = $('Fetch Cached Data (for grid)').first()?.json?.value || $('Fetch CSV Meta (calopen)').first()?.json?.value;\n  const obj = raw ? JSON.parse(raw) : {};\n  available = Array.isArray(obj.availableDates) ? obj.availableDates : [];\n} catch(e){ available = []; }\nconst isAvailable = available.includes(dateStr);\nif (!isAvailable) {\n  return [{ json: { user_id: userId, selectedDates: [], hitLimit: false, unavailable: true } }];\n}\nlet selected = [];\ntry {\n  const rawSel = $('Get Selected Dates (toggle)').first()?.json?.value;\n  selected = rawSel ? JSON.parse(rawSel) : [];\n} catch(e){ selected = []; }\nconst MAX = 3;\nif (selected.includes(dateStr)) {\n  selected = selected.filter(d => d !== dateStr);\n  return [{ json: { user_id: userId, selectedDates: selected, hitLimit: false, unavailable: false, toggled: 'removed', dateStr } }];\n}\nif (selected.length >= MAX) {\n  return [{ json: { user_id: userId, selectedDates: selected, hitLimit: true, unavailable: false, toggled: 'blocked', dateStr } }];\n}\nselected.push(dateStr);\nreturn [{ json: { user_id: userId, selectedDates: selected, hitLimit: false, unavailable: false, toggled: 'added', dateStr } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2260,
        520
      ],
      "id": "n-toggle",
      "name": "Toggle Date"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=ozon:sess:{{ $json.user_id }}:dates",
        "value": "={{ JSON.stringify($json.selectedDates || []) }}",
        "options": {
          "ttl": 86400
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2460,
        520
      ],
      "id": "n-persist-sel",
      "name": "Persist Selected Dates",
      "credentials": {
        "redis": {
          "id": "kaA0Glj8bB5pwqRt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Config').first().json.TELEGRAM_BOT_TOKEN }}/answerCallbackQuery",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"callback_query_id\": {{ JSON.stringify($('Extract User Data').first().json.callback_query_id) }}, \"text\": \"Можно выбрать не более 3 дат\", \"show_alert\": false }"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2460,
        600
      ],
      "id": "n-ans-limit",
      "name": "Answer Callback (limit)"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=ozon:sess:{{ $('Extract User Data').first().json.user_id }}:csv",
        "propertyName": "value"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2660,
        520
      ],
      "id": "n-fetch-csv-forgrid",
      "name": "Fetch Cached Data (for grid)",
      "credentials": {
        "redis": {
          "id": "kaA0Glj8bB5pwqRt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json:{ selectedDates:[], user_id:$('Extract User Data').first().json.user_id } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        600
      ],
      "id": "n-reset",
      "name": "Reset Dates"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=ozon:sess:{{ $json.user_id }}:dates",
        "value": "={{ JSON.stringify($json.selectedDates || []) }}",
        "options": {
          "ttl": 86400
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2260,
        600
      ],
      "id": "n-persist-reset",
      "name": "Persist Selected (Reset)",
      "credentials": {
        "redis": {
          "id": "kaA0Glj8bB5pwqRt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Config').first().json.TELEGRAM_BOT_TOKEN }}/answerCallbackQuery",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"callback_query_id\": {{ JSON.stringify($('Extract User Data').first().json.callback_query_id) }}, \"text\": \"Выберите хотя бы одну дату\", \"show_alert\": false }"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2260,
        760
      ],
      "id": "n-ans-need",
      "name": "Answer Callback (needSelect)"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=ozon:sess:{{ $('Extract User Data').first().json.user_id }}:dates",
        "propertyName": "value"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2080,
        720
      ],
      "id": "n-getdone",
      "name": "Get Selected Dates (Done)",
      "credentials": {
        "redis": {
          "id": "kaA0Glj8bB5pwqRt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let selected=[]; try{ const raw=$('Get Selected Dates (Done)').first().json.value; selected=raw?JSON.parse(raw):[]; }catch(e){}\nif(!selected.length) return [{json:{needSelect:true}}];\nreturn [{ json:{ selectedDates:selected, user_id:$('Extract User Data').first().json.user_id, chat_id:$('Extract User Data').first().json.chat_id, startTime:'00:00', endTime:'23:59' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2260,
        720
      ],
      "id": "n-handledone",
      "name": "Handle Done"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=ozon:sess:{{ $json.user_id }}:csv",
        "propertyName": "value"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2460,
        720
      ],
      "id": "n-getcsv-forstats",
      "name": "Get Cached Data (for stats)",
      "credentials": {
        "redis": {
          "id": "kaA0Glj8bB5pwqRt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function parseAsMsk(s){ if(!s) return null; let d=s; if(/^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$/.test(d)) d=d.replace(' ','T')+'Z'; const base=new Date(d); if(isNaN(base)) return null; return new Date(base.getTime()+3*3600*1000);} \nfunction filterRecords(records, dates, st, et){ const set=new Set(dates); return records.filter(r=>{ const dd=parseAsMsk(r.created_at); if(!dd) return false; const ds=dd.toISOString().split('T')[0]; if(!set.has(ds)) return false; const tm=dd.toTimeString().slice(0,5); return tm>=st && tm<=et; }); }\nfunction calc(records,dates,st,et){ const list=filterRecords(records,dates,st,et); if(!list.length) return {date:dates,startTime:st,endTime:et,totalOrders:0,totalCancellations:0,totalRevenue:0,skuStats:{},message:'Нет данных за указанный период'}; const bySku={}; const revS=['доставлен','доставляется','ожидает сборки','ожидает отгрузки']; const cancS=['отменён','отменен','возврат']; list.forEach(r=>{ const sku=r.sku; const q=r.quantity||1; const p=r.price||0; const st=r.status||''; bySku[sku] ||= {totalOrders:0,cancellations:0,totalRevenue:0,weightedPriceSum:0,weightedQuantitySum:0,avgPrice:0}; bySku[sku].totalOrders+=q; if(cancS.some(s=>st.includes(s))) bySku[sku].cancellations+=q; if(revS.some(s=>st.includes(s))){ bySku[sku].totalRevenue+=p*q; bySku[sku].weightedPriceSum+=p*q; bySku[sku].weightedQuantitySum+=q; } }); Object.values(bySku).forEach(s=>{ if(s.weightedQuantitySum>0) s.avgPrice=s.weightedPriceSum/s.weightedQuantitySum;}); let tO=0,tC=0,tR=0; Object.values(bySku).forEach(s=>{ tO+=s.totalOrders; tC+=s.cancellations; tR+=s.totalRevenue;}); return {date:dates,startTime:st,endTime:et,totalOrders:tO,totalCancellations:tC,totalRevenue:tR,skuStats:bySku}; }\nlet meta={}; try{ meta=JSON.parse($('Get Cached Data (for stats)').first().json.value||'{}'); }catch(e){}\nconst dates=$('Handle Done').first().json.selectedDates||[]; const st=$('Handle Done').first().json.startTime; const et=$('Handle Done').first().json.endTime; const stats=calc(meta.records||[], dates, st, et);\nfunction fmt(s){ let m=`📊 <b>Статистика заказов</b>\\n\\n`; m+=`📅 Даты: ${Array.isArray(s.date)?s.date.join(', '):s.date}\\n`; m+=`⏰ Время: ${s.startTime} - ${s.endTime}\\n\\n`; if(s.totalOrders===0){ m+=s.message||'Нет данных'; return m; } const keys=Object.keys(s.skuStats).sort(); for(const k of keys){ const x=s.skuStats[k]; m+=`<b>${k}</b>\\n  • Заказов: ${x.totalOrders}\\n  • Отмен: ${x.cancellations}\\n  • Средняя цена: ${x.avgPrice.toFixed(2)} ₽\\n  • Сумма: ${x.totalRevenue.toFixed(2)} ₽\\n\\n`; } m+=`<b>ИТОГО:</b>\\n  • Всего заказов: ${s.totalOrders}\\n  • Всего отмен: ${s.totalCancellations}\\n  • Общая сумма: ${s.totalRevenue.toFixed(2)} ₽\\n`; return m; }\nreturn [{ json:{ chat_id:$('Handle Done').first().json.chat_id, text:fmt(stats) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        720
      ],
      "id": "n-calc-stats",
      "name": "Calculate Statistics"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2860,
        720
      ],
      "id": "n-send-stats",
      "name": "Send Statistics",
      "credentials": {
        "telegramApi": {
          "id": "p4dTUZho7h1VsmzM",
          "name": "Tg Ozon.Orders bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const d=$('Extract User Data').first().json.document||{}; const name=(d.file_name||'').toLowerCase(); const mime=(d.mime_type||'').toLowerCase();\nconst isXlsx= mime==='application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'|| name.endsWith('.xlsx');\nif(!d.file_id||!isXlsx) return [];\nreturn [{json:$json}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        300
      ],
      "id": "n-ensure-xlsx",
      "name": "Ensure XLSX Document"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Extract User Data').first().json.document.file_id }}",
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2240,
        300
      ],
      "id": "n-getfile-xlsx",
      "name": "Get XLSX from Telegram",
      "credentials": {
        "telegramApi": {
          "id": "p4dTUZho7h1VsmzM",
          "name": "Tg Ozon.Orders bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        2440,
        300
      ],
      "id": "n-extract-xlsx",
      "name": "Extract from File (XLSX)"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=ozon:sess:{{ $('Extract User Data').first().json.user_id }}:csv",
        "propertyName": "value"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2060,
        120
      ],
      "id": "get-csv-meta-for-orders",
      "name": "Get CSV Meta (Menu)",
      "credentials": {
        "redis": {
          "id": "kaA0Glj8bB5pwqRt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const chatId=$('Extract User Data').first().json.chat_id;\nlet meta={};\ntry{ const raw=$('Get CSV Meta (Menu)').first().json.value; meta= raw? JSON.parse(raw):{}; }catch(e){ meta={}; }\nconst hasFile = meta && Array.isArray(meta.availableDates) && meta.availableDates.length>0;\nlet text = '📦 <b>Раздел: Заказы</b>\\n\\n';\nif(hasFile){\n  const months = Array.from(new Set((meta.availableDates||[]).map(d=>d.slice(0,7)))).sort();\n  text += `✅ Файл загружен\\nДиапазон: <b>${months[0]}</b>${months.length>1?` … <b>${months[months.length-1]}</b>`:''}\\nВсего записей: <b>${meta.totalRecords||0}</b>\\n\\n`;\n} else {\n  text += 'Загрузите отчёт Ozon (.csv/.xlsx, до 20MB), затем откройте календарь.\\n\\n';\n}\nconst kb = { inline_keyboard: [] };\nkb.inline_keyboard.push([{ text: '📅 Открыть календарь', callback_data: 'cal:open' }]);\nkb.inline_keyboard.push([{ text: '🧹 Очистить файл', callback_data: 'file:clear' }]);\nkb.inline_keyboard.push([{ text: '« Назад', callback_data: '/start' }]);\nreturn [{ json: { chat_id: chatId, text, reply_markup: kb } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2260,
        160
      ],
      "id": "render-orders-menu",
      "name": "Render Orders Menu"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=ozon:sess:{{ $('Extract User Data').first().json.user_id }}:csv",
        "propertyName": "value"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2060,
        300
      ],
      "id": "fetch-csv-meta-calopen",
      "name": "Fetch CSV Meta (calopen)",
      "credentials": {
        "redis": {
          "id": "kaA0Glj8bB5pwqRt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ !!($json.value) }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2260,
        300
      ],
      "id": "if-has-file-calopen",
      "name": "Has File? (calopen)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Config').first().json.TELEGRAM_BOT_TOKEN }}/answerCallbackQuery",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"callback_query_id\": {{ JSON.stringify($('Extract User Data').first().json.callback_query_id) }},\n  \"text\": \"Сначала загрузите файл отчёта\",\n  \"show_alert\": false\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2460,
        340
      ],
      "id": "answer-need-file",
      "name": "Answer Callback (need file)"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=ozon:ui:{{ $('Extract User Data').first().json.user_id }}:calendar_msg_id",
        "propertyName": "value"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2060,
        440
      ],
      "id": "get-cal-msg-clear",
      "name": "Get Calendar Msg ID (clear)",
      "credentials": {
        "redis": {
          "id": "kaA0Glj8bB5pwqRt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ !!$json.value }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2260,
        440
      ],
      "id": "if-has-cal-msg-clear",
      "name": "Has Calendar Msg? (clear)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Config').first().json.TELEGRAM_BOT_TOKEN }}/deleteMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Extract User Data').first().json.chat_id, message_id: $('Get Calendar Msg ID (clear)').first().json.value }) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2460,
        420
      ],
      "id": "delete-calendar-msg",
      "name": "Delete Calendar Message"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=ozon:sess:{{ $('Extract User Data').first().json.user_id }}:csv"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2460,
        480
      ],
      "id": "del-csv-data",
      "name": "Del csv_data",
      "credentials": {
        "redis": {
          "id": "kaA0Glj8bB5pwqRt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=ozon:sess:{{ $('Extract User Data').first().json.user_id }}:dates"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2660,
        480
      ],
      "id": "del-selected-dates",
      "name": "Del selected_dates",
      "credentials": {
        "redis": {
          "id": "kaA0Glj8bB5pwqRt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=ozon:ui:{{ $('Extract User Data').first().json.user_id }}:calendar_msg_id"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2860,
        480
      ],
      "id": "del-cal-msg-id",
      "name": "Del calendar_msg_id",
      "credentials": {
        "redis": {
          "id": "kaA0Glj8bB5pwqRt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Config').first().json.TELEGRAM_BOT_TOKEN }}/answerCallbackQuery",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"callback_query_id\": {{ JSON.stringify($('Extract User Data').first().json.callback_query_id) }},\n  \"text\": \"Файл и выбор дат очищены\",\n  \"show_alert\": false\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3060,
        520
      ],
      "id": "answer-cleared",
      "name": "Answer Callback (cleared)"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=ozon:ui:{{ $json.user_id }}:cal_month",
        "value": "={{ $json.month }}",
        "options": {
          "ttl": 86400
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3280,
        240
      ],
      "id": "persist-cal-month-initial",
      "name": "Persist Cal Month (initial)",
      "credentials": {
        "redis": {
          "id": "kaA0Glj8bB5pwqRt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=ozon:ui:{{ $('Extract User Data').first().json.user_id }}:cal_month",
        "propertyName": "value"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        3480,
        240
      ],
      "id": "get-month-render-smart",
      "name": "Get Month (Render smart)",
      "credentials": {
        "redis": {
          "id": "kaA0Glj8bB5pwqRt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let month = $('Get Month (Render smart)').first()?.json.value || $('Calc Initial Month').first()?.json.month || $json.month;\nlet meta={};\ntry{ const raw=$('Fetch CSV Meta (for calendar)').first()?.json.value || $('Fetch CSV (Render)').first()?.json.value; meta = raw? JSON.parse(raw):{}; }catch(e){ meta={}; }\nconst available = Array.isArray(meta.availableDates)? meta.availableDates:[];\nconst months = Array.from(new Set(available.map(d=>d.slice(0,7)))).sort();\nconst minMonth = months[0]; const maxMonth = months[months.length-1];\nlet selected = [];\ntry{ const rawSel = $('Get Selected Dates').first()?.json?.value; selected = rawSel? JSON.parse(rawSel):[]; }catch(e){ selected = []; }\nreturn [{ json: { chat_id: $('Extract User Data').first().json.chat_id, user_id: $('Extract User Data').first().json.user_id, month, minMonth, maxMonth, availableDates: available, selectedDates: selected } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3680,
        240
      ],
      "id": "ensure-month-smart",
      "name": "Ensure Month (smart)"
    },
    {
      "parameters": {
        "jsCode": "function daysInMonth(ms){ const [y,m]=ms.split('-').map(Number); return new Date(y, m, 0).getDate(); }\nconst {\n  chat_id, month, minMonth, maxMonth,\n  availableDates, selectedDates,\n  selectionSummary = { totalOrders: 0, totalRevenue: 0 }\n} = $json;\nconst [Y,M] = month.split('-').map(Number);\nconst total = daysInMonth(month);\nconst setAvail = new Set((availableDates||[]).filter(d=>d.startsWith(month)));\nconst selected = Array.isArray(selectedDates) ? selectedDates : [];\nconst setSel = new Set(selected);\nconst hasPrev = month > minMonth;\nconst hasNext = month < maxMonth;\nconst navRow = [\n  { text: hasPrev ? '◀' : '▪', callback_data: hasPrev ? `cal:${month}:prev` : 'noop' },\n  { text: month,                 callback_data: 'noop' },\n  { text: hasNext ? '▶' : '▪',   callback_data: hasNext ? `cal:${month}:next` : 'noop' }\n];\nconst rows = [];\nlet day=1;\nwhile(day<=total){\n  const row = [];\n  for(let i=0;i<7 && day<=total;i++){\n    const d = String(day).padStart(2,'0');\n    const full = `${month}-${d}`;\n    const isAvail = setAvail.has(full);\n    const isSel   = setSel.has(full);\n    if(isAvail){\n      row.push({ text: (isSel?'☑ ':'▫ ')+String(day), callback_data: `date:${full}` });\n    }else{\n      row.push({ text: '· '+String(day), callback_data: 'noop' });\n    }\n    day++;\n  }\n  rows.push(row);\n}\nconst MAX = 3;\nlet selectedLine = 'Выберите до 3 дат:';\nif (setSel.size) {\n  const preview = Array.from(setSel).slice(0, 5).join(', ');\n  selectedLine = `Выбрано (${setSel.size}/${MAX}): ${preview}`;\n}\nconst mini = `Итого: заказы ${selectionSummary.totalOrders} • сумма ${selectionSummary.totalRevenue.toFixed(2)} ₽`;\nconst controls = [];\ncontrols.push({ text: (setSel.size? '✅ Готово':'🔒 Готово'), callback_data: (setSel.size? 'dates:done':'noop') });\ncontrols.push({ text: '🧹 Сброс', callback_data: 'dates:reset' });\nconst fileRow = [\n  { text: '📤 Загрузить файл', callback_data: 'file:upload' },\n  { text: '🧯 Очистить файл',  callback_data: 'file:clear'  }\n];\nconst kb = { inline_keyboard: [navRow, ...rows, controls, fileRow] };\nconst text = `📅 <b>Мультивыбор дат</b>\\\\nЗагружено: <b>${minMonth}</b> … <b>${maxMonth}</b>\\\\n${selectedLine}\\\\n${mini}`;\nreturn [{ json: { chat_id, text, parse_mode: 'HTML', reply_markup: kb } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3880,
        240
      ],
      "id": "render-calendar-smart",
      "name": "Render Calendar (smart)"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "=ozon:ui:{{ $('Extract User Data').first().json.user_id }}:calendar_msg_id",
        "propertyName": "value"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4080,
        240
      ],
      "id": "get-cal-msg-smart",
      "name": "Get Calendar Msg ID (smart)",
      "credentials": {
        "redis": {
          "id": "kaA0Glj8bB5pwqRt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ !!$json.value }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4280,
        240
      ],
      "id": "if-has-msg-smart",
      "name": "Has Calendar Msg? (smart)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Config').first().json.TELEGRAM_BOT_TOKEN }}/editMessageText",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Ensure Month (smart)').first().json.chat_id, message_id: $('Get Calendar Msg ID (smart)').first().json.value, text: $json.text, parse_mode:'HTML', reply_markup: $json.reply_markup }) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4480,
        220
      ],
      "id": "edit-calendar-smart",
      "name": "Edit Calendar (smart)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Config').first().json.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Ensure Month (smart)').first().json.chat_id, text: $json.text, parse_mode:'HTML', reply_markup: $json.reply_markup }) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4480,
        280
      ],
      "id": "send-calendar-smart",
      "name": "Send Calendar (smart)"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=ozon:ui:{{ $('Extract User Data').first().json.user_id }}:calendar_msg_id",
        "value": "={{ $json.result?.message_id || $json.message_id || $json.result?.message?.message_id }}",
        "options": {
          "ttl": 86400
        }
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        4680,
        280
      ],
      "id": "persist-cal-msg-smart",
      "name": "Persist Calendar Msg ID (smart)",
      "credentials": {
        "redis": {
          "id": "kaA0Glj8bB5pwqRt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.hitLimit === true }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2420,
        560
      ],
      "id": "if-hit-limit",
      "name": "Hit Limit?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.unavailable === true }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2420,
        640
      ],
      "id": "if-unavailable",
      "name": "Unavailable?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Config').first().json.TELEGRAM_BOT_TOKEN }}/answerCallbackQuery",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"callback_query_id\": {{ JSON.stringify($('Extract User Data').first().json.callback_query_id) }},\n  \"text\": \"В этот день нет данных\",\n  \"show_alert\": false\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2620,
        680
      ],
      "id": "answer-callback-unavailable",
      "name": "Answer Callback (unavailable)"
    },
    {
      "parameters": {
        "jsCode": "const uid = $('Extract User Data').first().json.user_id;\nlet selected = [];\ntry {\n  const rawSel = $('Get Selected Dates').first()?.json?.value;\n  selected = rawSel ? JSON.parse(rawSel) : [];\n} catch(e){ selected = []; }\nlet records = [];\ntry {\n  const rawMeta =\n    $('Fetch Cached Data (for grid)').first()?.json?.value\n    || $('Fetch CSV Meta (calopen)').first()?.json?.value;\n  const meta = rawMeta ? JSON.parse(rawMeta) : {};\n  records = Array.isArray(meta.records) ? meta.records : [];\n} catch(e){ records = []; }\nfunction parseAsMsk(dateStr){\n  if (!dateStr) return null;\n  let d = dateStr;\n  if (/^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$/.test(d)) d = d.replace(' ', 'T') + 'Z';\n  const base = new Date(d);\n  if (isNaN(base)) return null;\n  return new Date(base.getTime() + 3*60*60*1000);\n}\nconst setSel = new Set(selected);\nlet totalOrders = 0;\nlet totalRevenue = 0;\nconst revenueStatuses = ['доставлен','доставляется','ожидает сборки','ожидает отгрузки'];\nconst cancelStatuses  = ['отменён','отменен','возврат'];\nfor(const r of records){\n  const msk = parseAsMsk(r.created_at);\n  if(!msk) continue;\n  const d = msk.toISOString().split('T')[0];\n  if(!setSel.has(d)) continue;\n  const q = Number(r.quantity||1);\n  const p = Number(r.price||0);\n  totalOrders += q;\n  if (revenueStatuses.some(s => (r.status||'').includes(s))) {\n    totalRevenue += p*q;\n  }\n}\nreturn [{\n  json: {\n    ...$json,\n    selectedDates: selected,\n    selectionSummary: { totalOrders, totalRevenue }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3760,
        240
      ],
      "id": "compute-selection-summary",
      "name": "Compute Selection Summary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Config').first().json.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ JSON.stringify($('Extract User Data').first().json.chat_id) }},\n  \"parse_mode\": \"HTML\",\n  \"text\": \"📤 <b>Загрузка файла</b>\\n\\nПришлите отчёт Ozon в ответ на это сообщение. Поддерживаются .csv / .xlsx до 20MB. После загрузки я открою календарь выбора дат.\"\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2140,
        780
      ],
      "id": "send-upload-help",
      "name": "Send Upload Help"
    },
    {
      "parameters": {
        "jsCode": "const uid=$('Extract User Data').first().json.user_id; const chat=$('Extract User Data').first().json.chat_id;\nreturn [{ json: { user_id: uid, chat_id: chat } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2140,
        860
      ],
      "id": "clear-cache",
      "name": "Clear Cache"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=ozon:sess:{{ $json.user_id }}:csv"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2320,
        860
      ],
      "id": "del-csv",
      "name": "Del CSV Cache",
      "credentials": {
        "redis": {
          "id": "kaA0Glj8bB5pwqRt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=ozon:sess:{{ $json.user_id }}:dates"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2480,
        860
      ],
      "id": "del-selected",
      "name": "Del Selected Dates",
      "credentials": {
        "redis": {
          "id": "kaA0Glj8bB5pwqRt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=ozon:ui:{{ $json.user_id }}:calendar_msg_id"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        2640,
        860
      ],
      "id": "del-cal-msg",
      "name": "Del Calendar Msg ID",
      "credentials": {
        "redis": {
          "id": "kaA0Glj8bB5pwqRt",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Config').first().json.TELEGRAM_BOT_TOKEN }}/answerCallbackQuery",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"callback_query_id\": {{ JSON.stringify($('Extract User Data').first().json.callback_query_id) }},\n  \"text\": \"Кэш очищен\",\n  \"show_alert\": false\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2800,
        860
      ],
      "id": "answer-callback-cleared",
      "name": "Answer Callback (cleared)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Config').first().json.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": {{ JSON.stringify($('Extract User Data').first().json.chat_id) }},\n  \"parse_mode\": \"HTML\",\n  \"text\": \"♻️ <b>Кэш очищен.</b>\\n\\nНажмите <b>Заказы</b> и загрузите новый файл, чтобы начать.\"\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2960,
        860
      ],
      "id": "send-start-prompt",
      "name": "Send Start Prompt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ Array.isArray($json.selectedDates) && $json.selectedDates.length > 0 }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2460,
        700
      ],
      "id": "has-selection",
      "name": "Has Selection?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ !!$json.value }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2280,
        760
      ],
      "id": "has-csv",
      "name": "Has CSV?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $('Config').first().json.TELEGRAM_BOT_TOKEN }}/answerCallbackQuery",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"callback_query_id\": {{ JSON.stringify($('Extract User Data').first().json.callback_query_id) }},\n  \"text\": \"Файл не найден. Загрузите отчёт .csv/.xlsx\",\n  \"show_alert\": false\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2480,
        820
      ],
      "id": "answer-callback-no-file",
      "name": "Answer Callback (no-file)"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Validate Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Config": {
      "main": [
        [
          {
            "node": "Extract User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract User Data": {
      "main": [
        [
          {
            "node": "Check Whitelist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Whitelist": {
      "main": [
        [
          {
            "node": "Validate Whitelist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Whitelist": {
      "main": [
        [
          {
            "node": "Is Authorized?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Authorized?": {
      "main": [
        [
          {
            "node": "Check Admin",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Admin": {
      "main": [
        [
          {
            "node": "Route Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Message": {
      "main": [
        [
          {
            "node": "Generate Main Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ensure CSV Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ensure XLSX Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Selected Dates (toggle)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Calendar Nav",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Selected Dates (Done)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reset Dates",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Fetch CSV Meta (calopen)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Calendar Msg ID (clear)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Upload Help",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Clear Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Main Menu": {
      "main": [
        [
          {
            "node": "Prepare Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Menu": {
      "main": [
        [
          {
            "node": "Send Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Menu": {
      "main": [
        [
          {
            "node": "Get CSV Meta (Menu)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Menu Response": {
      "main": [
        [
          {
            "node": "Send Menu Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure CSV Document": {
      "main": [
        [
          {
            "node": "Get File from Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File from Telegram": {
      "main": [
        [
          {
            "node": "Extract from File (CSV)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File (CSV)": {
      "main": [
        [
          {
            "node": "Parse Report File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Report File": {
      "main": [
        [
          {
            "node": "Cache CSV Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache CSV Meta": {
      "main": [
        [
          {
            "node": "Calc Initial Month",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calc Initial Month": {
      "main": [
        [
          {
            "node": "Persist Cal Month (initial)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CSV Meta (for calendar)": {
      "main": [
        [
          {
            "node": "Get Selected Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Selected Dates": {
      "main": [
        []
      ]
    },
    "Handle Calendar Nav": {
      "main": [
        [
          {
            "node": "Get Month (Render smart)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Selected Dates (toggle)": {
      "main": [
        [
          {
            "node": "Toggle Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Toggle Date": {
      "main": [
        [
          {
            "node": "Hit Limit?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unavailable?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Selected Dates": {
      "main": [
        [
          {
            "node": "Fetch Cached Data (for grid)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Cached Data (for grid)": {
      "main": [
        [
          {
            "node": "Get Month (Render smart)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reset Dates": {
      "main": [
        [
          {
            "node": "Persist Selected (Reset)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Selected (Reset)": {
      "main": [
        [
          {
            "node": "Get Month (Render smart)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Selected Dates (Done)": {
      "main": [
        [
          {
            "node": "Handle Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Done": {
      "main": [
        [
          {
            "node": "Has Selection?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cached Data (for stats)": {
      "main": [
        [
          {
            "node": "Has CSV?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Statistics": {
      "main": [
        [
          {
            "node": "Send Statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure XLSX Document": {
      "main": [
        [
          {
            "node": "Get XLSX from Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get XLSX from Telegram": {
      "main": [
        [
          {
            "node": "Extract from File (XLSX)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File (XLSX)": {
      "main": [
        [
          {
            "node": "Parse Report File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get CSV Meta (Menu)": {
      "main": [
        [
          {
            "node": "Render Orders Menu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Orders Menu": {
      "main": [
        [
          {
            "node": "Prepare Menu Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CSV Meta (calopen)": {
      "main": [
        [
          {
            "node": "Has File? (calopen)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has File? (calopen)": {
      "main": [
        [
          {
            "node": "Calc Initial Month",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Callback (need file)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar Msg ID (clear)": {
      "main": [
        [
          {
            "node": "Has Calendar Msg? (clear)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Calendar Msg? (clear)": {
      "main": [
        [
          {
            "node": "Delete Calendar Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Del csv_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Calendar Message": {
      "main": [
        [
          {
            "node": "Del csv_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Del csv_data": {
      "main": [
        [
          {
            "node": "Del selected_dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Del selected_dates": {
      "main": [
        [
          {
            "node": "Del calendar_msg_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Del calendar_msg_id": {
      "main": [
        [
          {
            "node": "Answer Callback (cleared)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Callback (cleared)": {
      "main": [
        [
          {
            "node": "Send Start Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persist Cal Month (initial)": {
      "main": [
        [
          {
            "node": "Get Month (Render smart)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Month (Render smart)": {
      "main": [
        [
          {
            "node": "Ensure Month (smart)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Month (smart)": {
      "main": [
        [
          {
            "node": "Compute Selection Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Calendar (smart)": {
      "main": [
        [
          {
            "node": "Get Calendar Msg ID (smart)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Calendar Msg ID (smart)": {
      "main": [
        [
          {
            "node": "Has Calendar Msg? (smart)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Calendar Msg? (smart)": {
      "main": [
        [
          {
            "node": "Edit Calendar (smart)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Calendar (smart)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Calendar (smart)": {
      "main": [
        [
          {
            "node": "Persist Calendar Msg ID (smart)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hit Limit?": {
      "main": [
        [
          {
            "node": "Answer Callback (limit)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Persist Selected Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unavailable?": {
      "main": [
        [
          {
            "node": "Answer Callback (unavailable)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Compute Selection Summary": {
      "main": [
        [
          {
            "node": "Render Calendar (smart)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Cache": {
      "main": [
        [
          {
            "node": "Del CSV Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Del CSV Cache": {
      "main": [
        [
          {
            "node": "Del Selected Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Del Selected Dates": {
      "main": [
        [
          {
            "node": "Del Calendar Msg ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Del Calendar Msg ID": {
      "main": [
        [
          {
            "node": "Answer Callback (cleared)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Selection?": {
      "main": [
        [
          {
            "node": "Answer Callback (needSelect)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Cached Data (for stats)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has CSV?": {
      "main": [
        [
          {
            "node": "Answer Callback (no-file)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Calculate Statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Calendar (smart)": {
      "main": [
        [
          {
            "node": "Persist Calendar Msg ID (smart)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2-calendar-grid-aligned",
  "meta": {
    "instanceId": "ozon-bot-instance"
  },
  "tags": []
}
