workflows/ozord_main_telegram_orchestrator.n8n.json
{
  "name": "ozord_main_telegram_orchestrator",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "telegram-trigger-node",
      "name": "Telegram Trigger",
      "credentials": {
        "telegramApi": {
          "id": "xOwJx2xXjS4zwXqh",
          "name": "Tg SmartStory 4friends"
        }
      },
      "webhookId": "main-orchestrator-webhook"
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "rules": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "message"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "callback"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        200,
        0
      ],
      "id": "event-type-switch",
      "name": "Event Type Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "i59lQQOEM9YMxXGL",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        400,
        -100
      ],
      "id": "execute-messages-router",
      "name": "Execute Messages Router"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "kzVbukSB7Scut6fx",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [
        400,
        100
      ],
      "id": "execute-callbacks-router",
      "name": "Execute Callbacks Router"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Event Type Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Event Type Switch": {
      "main": [
        [
          {
            "node": "Execute Messages Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Callbacks Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}